<%
slug = section.slug;
if(typeof(prefix)!='undefined')
{
   slug = prefix + '-' + slug;
}
%>
<section id="documenter-<%- slug %>" class="method">
   <div class="method-area">
      <div class="method-copy">
         <div class="method-copy-padding">
            <%= section.content %>
         </div>
      </div>
      <div class="method-example">
         <% _.forEach(section.examples, function(example,idx) { %>
            <% if(example.meta.language) { %><div class="code-<%-example.meta.language %> code-div <% if(idx==0) { %>active-code<% } %>"><% } %>
               <div class="method-example-part">
                 <%= example.content %>
               </div>
            <% if(example.meta.language) { %></div><% } %>
         <% }) %>
      </div>
   </div>
</section>           
<% _.forEach(section.sections, function(subSection) { %>
   <%= partial('src/templates/section.html', {section: subSection, parent: section, prefix: slug, partial: partial}) %>
<% }) %>